/* styles.css */

/* Customização do fundo da página */
body {
    background-color: #f8f9fa;
}

/* Cartões estilizados */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card-body {
    padding: 20px;
}

/* Botões */
.btn-primary {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745;
}

/* Ajustes de espaçamento */
.mt-5 {
    margin-top: 50px;
}

.mb-3 {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}
